<h1>Control thy Roomba.</h1>
<div class="remoter">

  <div class="btn power js--power">
    <div class="icon">power</div>
  </div>

 <div class="btn pause js--pause">
    <div class="icon"></div>
  </div>

  <div class="btn forward js--forward">
    <div class="icon">forward</div>
  </div>

  <div class="btn clean js--clean">
    <div class="icon">clean</div>
  </div>

  <div class="btn left js--left">
    <div class="icon"></div>
  </div>

  <div class="btn right js--right">
    <div class="icon"></div>
  </div>

 <!--  <div class="btn dance">
    <div class="icon">dance</div>
  </div> -->

</div>
