<h1>Control thy Roomba.</h1>
<div class="remoter">

  <div class="btn power">
    <div class="icon">power</div>
  </div>

 <div class="btn pause">
    <div class="icon"></div>
  </div>

  <div class="btn forward">
    <div class="icon"></div>
  </div>
  <label id="forward">forward</label>

 <!--  <div class="btn clean">
    <div class="icon"></div>
  </div> -->

  <div class="btn left">
    <div class="icon"></div>
  </div>

  <div class="btn right">
    <div class="icon"></div>
  </div>

</div>
